body {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(220, 220, 220);
    color: black;
    }

h1 { color: black; }
h2 { text-align: center; }
p { color: black; }
img {width="200" height="100"}

# cb { background-color: rgb (63, 63, 63) }

a {
	color: blue;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}
a:visited { color: purple; }
