{% extends 'base.html' %}

    {% block title %} blogs_christian {% endblock %}
{% block content %}
    <link href="static/css/blogs_christian.css" type="text/css" rel="stylesheet" />
<div class="header">
  <h2>My Christian Blog</h2>
</div>

 <div class="row">
   <div class="leftcolumn">
     <div class="card">
       <h2>Faith</h2>
       <h5>Invitation, Dec 7, 2022</h5>
      <div class="img" style="height:200px;">
          <img src="https://plainbibleteaching.com/wp-content/uploads/2018/07/bible-coffee1.jpg"  width="100%" height="200px">
      </div>
      <p>I am a Christian. I invited Christ into my heart and life while I was a young girl.
      Christ is alive, and He is with us as two or more gather in His name. Jesus is also present
      in the Holy Eucharist. Christ is the son of God the Father, who suffered, died on the cross and rose again for the salvation of all mankind.  If you are lost and do not know Jesus,
      all you have to do is humble yourself, confess your sins, ask Jesus to forgive you and
      ask Jesus to come into your heart. He will come into your heart by the power of the Holy
      Spirit(the third person in the Holy Trinity). His Holy Spirit will come into your soul and restore the life of
      God in you.You will be made new. Jesus will wash your
      soul clean, white as snow.</p>
     </div>
   </div>
       <div class="rightcolumn">
        <div class="card">
          <h2>About Me</h2>
          <div class="img" style="height:100px;">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.oycd0QwXHKO6Msa1vojelQHaD4%26pid%3DApi&f=1&ipt=88813cfa76175af8737c097dcefab6cee65b757c844f89ea44324c3951e1f3ee&ipo=images"  width="100%" height="100px">
          </div>
          <p>I am a Christian, wife, mother, mother-in-law, grandmother, gardener, bookkeeper, and of course my most recent interest...Linux/Python/Web Developer.</p>
        </div>
      </div>
 </div>
{% endblock %}