{% extends 'base.html' %}
  {% block link %}<link rel="stylesheet" href="styles.css">{% endblock %}
  {% block title %} Home {% endblock %}
{% block content %}
<br><br>
<img src="static/images/quote_002_small.png"/>
</br>
{% endblock %}
