{% extends 'base.html' %}

    {% block title %} Python {% endblock %}
{% block content %}
    <link href="static/css/python.css" type="text/css" rel="stylesheet" />

    <h1>My Python Journey!</h1>
    <p>This has been one of the most rewarding adventures that I have ever participated in!</p>
    <img src="https://cdn-icons-png.flaticon.com/128/1822/1822921.png">
    <br>
    <h2>It all started with Linux.</h2>
    <p>Linux is Digital Freedom!<p>
    <p>Python and Linux goes hand in hand.<p>
    <hr />
    <p>Learn a little more each week by following <a href="https://t.me/jeffrey_peterson/6945">this channel.</a></p>
    <p>And start your Linux journey in our Technology <a href="http://forums.jeff.pro">forums.</a><p>
    <p> Also, if you would like to join a Linux or Python class, click on the link below.<p>
    <p><a href="https://jeff.pro/">Jeff.pro</a><p>
<a href="/">Home</a>
{% endblock %}
